<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  
  <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    
  </system.web>
	<appSettings>
    <add key="SiteCode" value="HS01" />
    <add key="SiteSelection" value="YES" />
    <add key="ClientName" value="AW01" />
    <add key="SiteSetup" value="HQ" /><!--<add key="SiteSetup" value="Outlet" /><add key="SiteSetup" value="HQ" /><add key="SiteSetup" value="Both" />-->
    <add key="uri" value="http://sequoiasg.ddns.net:3001/" />
    <!--<add key="uri" value="http://111.223.67.195:3001/" />-->
    <!--<add key="uri" value="http://103.253.15.73:3001/" />-->
    <!--<add key="uri" value="http://sequoiademo.ddns.net:3001/" />-->
    <!--<add key="SequoiaUri" value="http://sequoiademo.ddns.net:8080/invetoryAPI1/" />-->
    <add key="SequoiaUri" value="http://localhost:60512/" />
    <!--<add key="SequoiaUri" value="http://111.223.67.195:98/WebReportingApiMidysonTrain/" />-->
    <!--<add key="uri" value="http://aestheticwest.ddns.net:3001/" />
    <add key="SequoiaUri" value="http://aestheticwest.ddns.net:9090/invetoryapi/" />-->
    <add key="LMSAPIKey" value="nwdpBsKx5QzjTQvlZmNnMxEK7Ulyw9" />
		<add key="VersionInfo" value="1.0.0 (Dated:12/02/2019)" />
    <!--<add key="apiURL" value="http://103.253.14.203:3000/" />-->
		<!--<add key="Logger" value="Data Source=DELL-LAPTOP\SQL;Initial Catalog=SOHA_20190521;User id=sa;Password=bigtree;"/>-->
		<!--<add key="Logger" value="Data Source=103.253.15.73,1433;Initial Catalog=AesthetiQWellness_AWHQ;User id=sa;Password=bigtree@6390;" />-->
    <add key="Logger" value="Data Source=103.253.15.184,1433;Initial Catalog=healspahqtrain;User id=sa;Password=Doodle@123;" />
    
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="3000000000" />
			</requestFiltering>
		</security>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

</configuration>
